<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768909973607-9ski2gqiv2t1mse9l0v1esas083hq2uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768909973607-9ski2gqiv2t1mse9l0v1esas083hq2uk</string>
	<key>API_KEY</key>
	<string>AIzaSyAGHMhimOP-LnF1L7rRC3NPKtgLfZ5TUBU</string>
	<key>GCM_SENDER_ID</key>
	<string>768909973607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.Anime</string>
	<key>PROJECT_ID</key>
	<string>anime-af7f8</string>
	<key>STORAGE_BUCKET</key>
	<string>anime-af7f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768909973607:ios:2d88d037db16447f6e1cc2</string>
</dict>
</plist>